body {
    margin: 0px;
    flow: horizontal;
}

splitter {
    margin-left: -5px;
    background: transparent;
}

video {
    size: *;
    image-rendering: optimize-quality;
}

input[type=text] {
    border-radius: 0px;
    border-color: #494949;
    background-color: #3C3C3C;
}

@set subtle-scrollbar-y {
    .slider {
        background: #464647;
        opacity: 0.5;
        margin: 0;
    }
    .base {
        width: 12px;
        min-width: 5px;
    }
}

#sidebar {
    height: 1*;
    min-width: 200px;
    background-color: #252526;
    color: white;
    overflow-y: scroll-indicator;
    vertical-scrollbar: subtle-scrollbar-y;
}

#studio {
    background-color: #1E1E1E;
    color: white;
    min-width: 50%;
    height: 1*;
    width: 1*;

    flow: grid(1 2, 3 3);
    border-spacing: 8px;
    padding: 8px;
}

#current-tags {
    width: 1*;
    max-width: 200px;
}

#add-tag {
    width: *;
}

#video-container {
    width: 4*;
    height: width(56.25%);
    foreground-position: top left;
}

.video-controls, .video-controls > input {
    width: *;
}

.entry {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    cursor: pointer;
}

.entry:hover {
    background-color: #2A2D2E;
}

.horizontal {
    flow: horizontal;
}

.vertical {
    flow: vertical;
}